* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  margin-top: 2px;
}

button {
  padding: 10px;
}

table {
  width: 90%;
  /* background-color: tomato; */
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  text-align: center;
}

th {
  min-width: 2.3rem;
}

ol li ol {
  list-style-type: lower-alpha;
}

ol li ol li {
  margin-top: 0.5rem;
}

ul li,
ol li {
  margin-left: 1.5rem;
}

.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  padding: 2px;
}

.header__container {
  margin-bottom: 10px;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.regimen__container,
.protocol__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home__basic__form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

/* TODO: os forms / containeres estão tortos */

.home__form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.home__select {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}

.home__input {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.cvp__container,
.talc__container,
.cybord__container,
.tabs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tabs__ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.input-row {
  display: flex;
}
