* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.bsa__response__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
