* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: auto;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home__basic__form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.home__form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.home__select {
  width: 100%;
}

.home__input {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.cvp__container,
.talc__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cvp__table,
.talc__table {
  width: 98%;
}

.cvp__table,
.cvp__th,
.cvp__td,
.talc__table,
.talc__th,
.talc__td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  text-align: center;
}
